{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Project</title>
</head>
<body>
    <!-- Welcome message -->
    <h1 style="text-align:center;">Welcome To LittleLemon Restaurant</h1>

    <!-- LittleLemon image -->
    <img src="{% static 'restaurant/littlelemon.png' %}" alt="LittleLemon Logo" style="display:block; margin:auto; width:300px; height:auto;">
</body>
</html>
